@import url('https://fonts.googleapis.com/css?family=Roboto');

/*body {*/
/*    background-color: #2C3A47;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    font-family: 'Roboto', sans-serif;*/
/*    height: 100vh;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

.card-container {
    position: relative;
    height: 800px;
    width: 400px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    transition: box-shadow 0.3s ease-out;
}

.card-container:hover {
    box-shadow: 1px 2px 10px rgba(0,0,0,0.5);
}

.img-container {
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    height: 500px;
    width: 100%;
    transition: transform 0.3s ease-out;
    z-index: 2;
}

.img-container:hover {
    cursor: pointer;
}

.card-container:hover .img-container {
    transform: translateY(-100px);
}

.img-container > img {
    height: 100%;
    width: 100%;
    transition: opacity 0.3s ease-out;
}

.card-container:hover > .img-container > img {
    opacity: 0.5;
}

.social-media {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: 0;
    padding: 0;
}

.social-media > li {
    list-style: none;
}

.social-media > li > button {
    display: block;
    height: 50px;
    width: 50px;
    background-color: #FFF;
    text-align: center;
    color: #262626;
    margin: 0 5px;
    border-radius: 50%;
    opacity: 0;
    transform: translateY(200px);
    transition: all 0.3s ease-out;
}

.card-container:hover > .social-media > li > a {
    transform: translateY(0);
    opacity: 1;
}

.social-media > li > button > .fa {
    font-size: 24px;
    line-height: 50px;
    transition: transform 0.3s ease-out;
}

.social-media > li > button:hover > .fa {
    transform: rotateY(360deg);
}

.card-container:hover .social-media li:nth-child(1) button {
    transition-delay: 0s;
}

.card-container:hover .social-media li:nth-child(2) button {
    transition-delay: 0.1s;
}

.card-container:hover .social-media li:nth-child(3) button {
    transition-delay: 0.2s;
}

.card-container:hover .social-media li:nth-child(4) button {
    transition-delay: 0.3s;
}

.card-container:hover .social-media li:nth-child(5) button {
    transition-delay: 0.4s;
}

.user-info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    height: 200px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    text-align: center
}

.user-info > h2 {
    padding: 0;
    margin: 10px 0;
}

.user-info > span {
    color: #262626;
    font-size: 16px;
}