* {
    box-sizing: border-box
}

/* Add padding to containers */


.login-header {
    color: #000000;
    text-align: center;
    font-size: 200%;
}

.container {


    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 10%;
    text-align: center;
}



input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

.submitrbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.submitbtn:hover {
    opacity: 2;
}

.photo {

    left: 80px;
    top: -450px;
    position: relative;
    height: 200px;
    width: 200px;
    border-style: outset;

}

.profile-picture-user{
    width: 170px;
    height: 170px;
    border-radius: 50%;
}
