.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.carousel-imgs {
    height: 750px;
}

.login {
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 10%;
    text-align: center;
}

.jumbotron {
    background-color: orange !important;
    text-align: center;
    background-image: linear-gradient(to bottom right, orangered, orange);
}

.custom-select {
    background: transparent !important;
    color: black !important;
}

.input-group-text {
    background: ghostwhite !important;
}

.beers-card-list {
    flex-grow: 0 !important;
    padding-bottom: 15px;
}

.beers-card-list-row {
    margin: 0px !important;
    justify-content: center;
}

.centered-content-row {
    justify-content: center;
}

.btn-secondary {
    background-color: #343a40 !important;
}

.error {
    color: red;
}

img {
    max-width: 100% !important;
    max-height: 100% !important;
    transition: opacity 0.3s ease-out !important;
    object-fit: cover !important;
}

.beer-picture {
    width: 286px !important;
    height: 250px !important;
}

.beer-profile-page-picture {
    height: 400px;
    width: 400px !important;
    border-radius: 50%;
}

.active-page {
    background-color: #dc3545 !important;
    color: whitesmoke !important;
}


.card:hover {
    cursor: pointer;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 1);
}


.navbar.scrolled {
    background: rgb(68, 68, 68); /* IE */
    background: rgba(0, 0, 0, 0.78); /* NON-IE */
}


.btn {
    /*border: 1px solid #3498db;*/
    /*background: none;*/
    /*padding: 10px 20px;*/
    /*font-size: 20px;*/
    /*font-family: "montserrat";*/
    /*cursor: pointer;*/
    /*margin: 10px;*/
    /*transition: 0.8s;*/
    /*position: relative;*/
    overflow: hidden;
}

.btn1, .btn2 {
    color: darkred;
}

.btn3, .btn4 {
    color: #fff;
}

.btn1:hover, .btn2:hover {
    color: #fff;
}

.btn3:hover, .btn4:hover {
    color: darkred;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: darkred;
    z-index: -1;
    transition: 0.8s;
}

.btn1::before, .btn3::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn2::before, .btn4::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn3::before, .btn4::before {
    height: 180%;
}

.btn1:hover::before, .btn2:hover::before {
    height: 180%;
}

.btn3:hover::before, .btn4:hover::before {
    height: 0%;
}

::placeholder {
    color: black;
}

.profile-picture {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 70%;
    display: block;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*border-style: outset;*/

}

.beerpage-size {
    width: 500px;
    word-wrap: break-word;
}

.card-img-brewery {
    height: 100%;
}

form {
    margin-top: 1rem;
}

.rating {
    /*position: relative;*/
    display: flex;
    /*top: 50%;*/
    /*left: 50%;*/
    transform: translate(-50%, -50%) rotateY(180deg);
}

.rating label {
    display: block;
    cursor: pointer;
    width: 50px;
    /*padding-left: 1px;*/
}

.rating label::before {
    content: '\f0fc';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 52px;
    position: relative;
    display: block;
}

.rating label::after {
    content: '\f0fc';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 52px;
    color: #C82333;
    top: 0;
    opacity: 0;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    /*display: block;*/

}

.rating label:hover::after, .rating label:hover ~ label::after, .rating input:checked ~ label::after {
    opacity: 1;
}

.rating input {
    display: none;
}

.show-rating {
    /*position: relative;*/
    display: flex;
    width: 200px;
    margin-left: 0;
    /*top: 50%;*/
    /*left: 50%;*/
    transform: translate(-50%, -50%) rotateY(180deg);
    margin-top: 30px;
    margin-left: 350px;
}

.show-rating label {
    display: block;
    width: 50px;
    /*padding-left: 1px;*/
}

.show-rating label::before {
    content: '\f0fc';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 52px;
    position: relative;
    display: block;
}

.show-rating label::after {
    content: '\f0fc';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 52px;
    color: #C82333;
    top: 0;
    opacity: 0;
    transition: 0.5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    /*display: block;*/

}

.show-rating input:checked ~ label::after {
    opacity: 1;
}

.show-rating input {
    display: none;
}