.caption {
    caption-side:top;
}

.profile-card {
    /*width: 50%;*/
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
    /*float: right;*/
}
.photo {


    height: 200px;
    width: 200px;
    border-style: outset;

}
.profile-picture-user{

    width: 250px;
    height: 250px;
    border-radius:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: outset;

}


.image-container {
    position: relative;
}

.main-container {
    padding: 20px;
}

.title {
    font-family: sans-serif;
    color: #3C3939;
    background-color: #f1f1f1;
    text-align: center;
}

.tr:hover {
    background-color: #f5f5f5;
}


/*img{*/
/*    vertical-align: middle;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    border-radius: 50%;*/
/*}*/

h2{
    text-align: center;
}

.container{
    border-style: outset;
}

/*popup*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    float: top;
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 80px;
    width: 45%;
    height: 55%;
    position: relative;
    max-height: calc(110vh - 210px);
    overflow-y: auto;
    /*transition: all 5s ease-in-out;*/
}

.popup h4 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;

}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 70%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}

label {
    padding: 10px;
}


/*POP-UP-CSS*/
[tabindex="-1"]:focus{
    outline:0!important
}

@media (min-width:768px){

    .col-md-6{
        -ms-flex:0 0 50%;
        flex:0 0 50%;
        max-width:50%
    }
}

.form-row{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-5px;
    margin-left:-5px;

}
.form-row>.col,.form-row>[class*=col-]{
    padding-right:5px;
    padding-left:5px
}
/*POP-UP-CSS*/

/*Border*/
#demo {
    -webkit-box-shadow: 5px 5px 15px 5px #ffba6c, -9px 5px 15px 5px #ffa43c, -7px -5px 15px 5px #ff9022, 12px -5px 15px 5px #ff6b00, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 0px 0px 8px -20px rgba(0, 0, 0, 0.15);
    box-shadow: 5px 5px 15px 5px #ffba6c, -9px 5px 15px 5px #ffa43c, -7px -5px 15px 5px #ff9022, 12px -5px 15px 5px #ff6b00, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 0px 0px 8px -20px rgba(0, 0, 0, 0.15);

    /*background-size: initial;*/
}
/*Border*/