<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${beer.getName()}">Beer#1</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}">

    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/fontawesome-free-5.12.0-web/css/all.css"
          th:href="@{/css/fontawesome-free-5.12.0-web/css/all.css}">


</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="/">Beer-Tag</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/beers">Beers <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/breweries">Breweries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item " sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item  " sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{'/users/'+ ${user.id}}">My profile</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated() ">
                    <a class="nav-link" th:href="@{'/users/'+ ${user.id}}">
                        <img th:src="${user.photo}" class=" profile-picture"></a>
                </li>
                <li>
                    <form style="margin-top: 0;" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                        <input type="submit" class="btn btn-link btn-logout" value="Logout"/>
                    </form>
                </li>
            </ul>
        </div>
    </nav> <!-- end of navbar -->
</div>

<div class="container">
    <div class="row" style="margin-bottom: 2rem">
        <img src="../static/images/beer-example.jpg" th:if="${beer.getPicture() != null}"
             th:src="@{${beer.getPicture()}}"
             class="card-img-top beer-profile-page-picture img-circle" alt="../static/images/beer-example.jpg">
        <div class="card-body beerpage-size">
            <h1 class="card-title" th:text="${beer.getName()}">Beer name</h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h5>Description:</h5>
                    <p class="beerpage-description"
                       th:text="(${beer.getDescription().isEmpty()} ? 'This beer does not have a description.' : ${beer.getDescription()})">
                        this is the description</p>
                </li>
                <li class="list-group-item">
                    <h5>Tags:</h5>
                    <a th:each="tag : ${beer.getTags()}" th:href="@{/beers/(tagID=${tag.getId()})}" th:text="${'#' + tag.getName() + ' '}"></a>
                </li>
                <li class="list-group-item">
                    <h5>Style:</h5>
                    <a th:href="@{/beers/(style=${beer.getStyle().getName()}, sortBy='style')}"
                       th:text="${beer.getStyle().getName()}">Style name</a>
                <li class="list-group-item">
                    <h5>Brewery:</h5>
                    <a th:href="@{/beers/(brewery=${beer.getBrewery().getName()}, sortBy='brewery')}"
                       th:text="${beer.getBrewery().getName()}">Brewery name</a>
                </li>
                <li class="list-group-item">
                    <h5>Country:</h5>
                    <p th:text="${beer.getBrewery().getCountry().getName()}">Country name</p>
                </li>
                <li class="list-group-item" th:text="${'ABV: ' + beer.getAbv()}">ABV</li>
                <li class="list-group-item" th:text="${'Rating: ' + beer.getAverageRating() +'/10'}">Rating: 7.5/10
                </li>
                <li class="list-group-item" style="height: 80px;">
                    <div class="show-rating">
                        <input type="radio" name="rating" disabled value="10" id="rating10"><label
                            for="rating10"></label>
                        <input type="radio" name="rating" disabled value="9" id="rating9"><label
                            for="rating9"></label>
                        <input type="radio" name="rating" disabled value="8" id="rating8"><label
                            for="rating8"></label>
                        <input type="radio" name="rating" disabled value="7" id="rating7"><label
                            for="rating7"></label>
                        <input type="radio" name="rating" disabled value="6" id="rating6"><label
                            for="rating6"></label>
                        <input type="radio" name="rating" disabled value="5" id="rating5"><label
                            for="rating5"></label>
                        <input type="radio" name="rating" disabled value="4" id="rating4"><label
                            for="rating4"></label>
                        <input type="radio" name="rating" disabled value="3" id="rating3"><label
                            for="rating3"></label>
                        <input type="radio" name="rating" disabled value="2" id="rating2"><label
                            for="rating2"></label>
                        <input type="radio" name="rating" disabled value="1" id="rating1"><label
                            for="rating1" th:with="ratingValue = ${beer.getAverageRating()}"></label>
                    </div>
                </li>
                <li class="list-group-item" > Added by:
                    <a th:text="${beerCreator.getFirstName()} + ' ' + ${beerCreator.getLastName()}"
                       th:href="${'/users/' + beerCreator.getId()}"></a>
                </li>
                <li class="list-group-item" sec:authorize="isAuthenticated()">
                    <button type="button" class="btn btn-danger"
                            th:disabled="(${user.getDrankList().contains(beer)} ? true : false)"
                            th:onclick="|window.location.href='/users/addToDrank/${beer.getId()}'|">
                        + drank-list
                    </button>
                    <button type="button" class="btn btn-danger"
                            th:disabled="(${user.getWishList().contains(beer)} ? true : false)"
                            th:onclick="|window.location.href='/users/addToWish/${beer.getId()}'|">
                        + wish-list
                    </button>
                    <button sec:authorize="isAuthenticated()" type="button" class="btn btn-danger" data-toggle="modal"
                            data-target="#beerEditModal"
                            th:if="${user.getId() == beerCreator.getId()}">
                        Edit
                    </button>
                    <button sec:authorize="isAuthenticated()"
                            th:if="${user.getId() == beerCreator.getId()}"
                            form="deleteBeerForm" type="submit" class="btn btn-danger">
                        Delete
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <form sec:authorize="isAuthenticated()"
          id="deleteBeerForm"
          th:if="${user.getId() == beerCreator.getId()}"
          th:action="${'/beers/' + beer.getId() + '/delete'}"
          method="post"
          style="width: 80px; margin-top: 0.5rem;">
    </form>

    <div class="row">
        <div class="card mb-3" style="width: 100%!important;" th:each="rating : ${ratings}">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img th:src="@{${rating.getUserDetail().getPhoto()}}"
                         class="card-img-top beer-picture img-rounded" alt="if">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"
                            th:text="${rating.getUserDetail().getFirstName() + ' ' + rating.getUserDetail().getLastName()}">
                            Firstname Lastname</h5>
                        <p class="card-text" th:text="${'Rating: ' + rating.getRating() + '/10'}">Rating: 4/10</p>
                        <h5>Review:</h5>
                        <p class="card-text" th:text="${rating.getReview()}">This is a wild review.</p>
                        <p class="card-text"><small class="text-muted" th:text="${rating.getDateCreated()}">Last
                            updated date </small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-primary btn-danger" type="button" data-toggle="collapse" data-target="#addRating"
                th:disabled="${userRated}"
                th:hidden="${userRated}">
            Rate Beer
        </button>

    </div>
    <div class="row" style="margin-top: 1rem;">
        <div class="collapse" id="addRating" style="width: 100%!important;">
            <form th:with="createRatingURL = ${'/beers/' + beer.getId() + '/rate-beer'}" th:action="${createRatingURL}"
                  th:object="${newRating}" method="post">
                <div class="form-group " style="height: 50px">
                    <label for="rate1">Rate Beer</label>
                    <div class="rating">
                        <input type="radio" name="rating" value="10" id="rate1" th:field="*{rating}"><label
                            for="rate1"></label>
                        <input type="radio" name="rating" value="9" id="rate2" th:field="*{rating}"><label
                            for="rate2"></label>
                        <input type="radio" name="rating" value="8" id="rate3" th:field="*{rating}"><label
                            for="rate3"></label>
                        <input type="radio" name="rating" value="7" id="rate4" th:field="*{rating}"><label
                            for="rate4"></label>
                        <input type="radio" name="rating" value="6" id="rate5" th:field="*{rating}"><label
                            for="rate5"></label>
                        <input type="radio" name="rating" value="5" id="rate6" th:field="*{rating}"><label
                            for="rate6"></label>
                        <input type="radio" name="rating" value="4" id="rate7" th:field="*{rating}"><label
                            for="rate7"></label>
                        <input type="radio" name="rating" value="3" id="rate8" th:field="*{rating}"><label
                            for="rate8"></label>
                        <input type="radio" name="rating" value="2" id="rate9" th:field="*{rating}"><label
                            for="rate9"></label>
                        <input type="radio" name="rating" value="1" id="rate10" th:field="*{rating}"><label
                            for="rate10"></label>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="user_input_styledescription"> Style Description</label>
                    <textarea class="form-control" id="user_input_styledescription" rows="3"
                              th:field="*{review}"
                              maxlength="250"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-danger" style="margin-bottom: 1rem">Submit Rating
                </button>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="beerEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateBeerForm" th:action="${beer.getId() + '/update'}" th:object="${beerDTO}" method="post"
                      enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="input_beername">Beer Name</label>
                        <input type="text" class="form-control" id="input_beername" min="5" max="25" required
                               minlength="5"
                               maxlength="25" th:field="*{name}">
                    </div>
                    <div class="form-group">
                        <label for="input_description">Description</label>
                        <textarea class="form-control" id="input_description" rows="3" min="40" max="255" minlength="40"
                                  maxlength="255" th:field="*{description}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="input_abv">ABV</label>
                        <input type="number" step="0.01" class="form-control" id="input_abv" min="1" th:field="*{abv}">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="select_style">Style</label>
                        </div>
                        <select class="custom-select" id="select_style" th:field="*{styleId}">
                            <option th:each="style : ${styles}"
                                    th:value="${style.getId()}"
                                    th:text="${style.getName()}">Style#1
                            </option>
                        </select>
                        <button class="btn btn-primary btn-danger" type="button" data-toggle="collapse"
                                data-target="#collapseExample">
                            Or Add Style
                        </button>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="select_brewery">Brewery</label>
                        </div>
                        <select class="custom-select" id="select_brewery" th:field="*{breweryId}">
                            <option th:each="brewery : ${breweries}"
                                    th:value="${brewery.getId()}"
                                    th:text="${brewery.getName()}">Brewery#1
                            </option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Tags#</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Add tags separated with a space."
                               th:field="${beerDTO.tags}">
                    </div>
                    <div class="form-group">
                        <img th:src="@{${beerDTO.getPictureURL()}}"
                             style="width: 100px; height: 100px; border-color: #262626; border-style: solid;">
                        <p>Current photo</p>
                        <input type="file" class="form-control-file" id="filechoser_beerpicture" name="files">
                    </div>
                </form>

                <div class="collapse" id="collapseExample">
                    <form th:action="@{/beers/add-style(fromPage = ${beer.getId()})}" th:object="${style}"
                          method="post">
                        <div class="form-group ">
                            <label for="input_stylename">Style Name</label>
                            <input type="text" class="form-control" id="input_stylename"
                                   th:field="*{name}"
                                   required
                                   minlength="10"
                                   maxlength="30">
                        </div>
                        <div class="form-group ">
                            <label for="input_styledescription"> Style Description</label>
                            <textarea class="form-control" id="input_styledescription" rows="3"
                                      maxlength="250"
                                      th:field="*{description}"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-danger" style="margin-bottom: 1rem">Add Style
                            To List
                        </button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">Close</button>
                <button form="updateBeerForm" type="submit" class="btn btn-primary btn-danger">Save changes</button>
            </div>
        </div>
    </div>
</div> <!--- End of modal --->

<script th:inline="javascript">
    /*<![CDATA[*/

    const rating = /*[[${beer.getAverageRating()}]]*/ 'default';
    const elementID = "rating".concat(rating);
    document.getElementById(elementID).setAttribute("checked", "");

    /*]]>*/
</script>

<!-- Bootstrap, JQuery and Popperjs -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>

</body>
</html>