<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <meta charset="UTF-8">
    <title>Editing profile</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/register.css" th:href="@{/css/register.css}">


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Beer-Tag</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/beers">Beers </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Breweries</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/users">Users</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item " sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item  " sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{'/users/'+ ${user.id}}">My profile</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{'/users/'+ ${user.id}}">
                        <img th:src="${user.photo}" class=" profile-picture"></a>
                </li>
                <li>
                    <form style="margin-top: 0;" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
                        <input type="submit" class="btn btn-link btn-logout" value="Logout"/>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <!-- end of navbar -->
    <div class="container">
        <div class="login-header">
            <h2>Update your data</h2>
            <h6><i>Please don't change your password while you are consuming beer</i></h6>
        </div>
        <br/>
        <form action="#" th:action="@{/updateUser/{path}(path=${user.id})}" th:object="${userDto}" method="post" enctype="multipart/form-data">
            <label>Password:</label>
            <br/>
            <small>
                Your new password must be 6-30 characters long!
            </small>
            <br/>
            <input type="text" th:field="*{password}" minlength="6" maxlength="30"/>
            <br/>
            <br/>
            <label>Confirm Password:</label>
            <br/>
            <input type="text" th:field="*{passwordConfirmation}" minlength="6" maxlength="30"/>
            <br/>
            <br/>
            <label>First Name:</label>
            <br/>
            <input th:field="${user.firstName}" minlength="2" maxlength="30">
            <br/>
            <br/>
            <label>Last Name:</label>
            <br/>
            <input th:field="${user.lastName}" minlength="2" maxlength="30">
            <br/>
            <br/>
            <label>Country:</label>
            <br>
            <select th:field="*{countryId}">
                <option th:value="${user.country.id}" th:text="${user.country.name}"></option>
                <option th:each="country : ${countries}"
                        th:value="${country.id}"
                        th:text="${country.name}">
                </option>
            </select>
            <br/>
            <br/>
            <input class="submitbtn" type="submit" value="Edit"/>
            <br/>
            <div class="photo">
                <img th:src="${user.photo}" class=" profile-picture-user" >
                <br/>
                <br/>
                <label for="filechoser_user">Change your photo </label>
                <br>
            <input type="file" id="filechoser_user" name="files">
            </div>

        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>